<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="crane">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import crane urdf file -->
    <xacro:include filename="$(find uorover_arm)/urdf/crane.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="crane.ros2_control.xacro" />


    <xacro:crane_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
